.companyInformation {
  display: flex;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  grid-column-gap: 50px;
  align-items: center;
  margin-right: auto;
  @media(min-width: 0px) and (max-width: 693px) {
display: none;
  }
}

.txt_dec {
text-decoration: none!important;
}

.switch a {
  text-decoration: none;
}

.svg {
  width: 28px;
  height: 28px;
  fill: white;
}

.dFlex {
  display: flex;
  grid-column-gap: 10px;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
  @media(min-width: 0px) and (max-width: 576px) {
    justify-content: center;
    padding: 10px;
  }
}

.mw {
  max-width: 165px;
}

.switch {
  font-size: 18px;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.register {
  color: #4e5a5e;
  padding: 10px;
  cursor: pointer;
}

.enter {
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

